@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
:root {
    --body-color: #ffffff;
    --light-color: #fafafa;
    /* --main-color:#fcbd00; */
    --yellow-color:#fcbd00;
    --main-color: #b30738;
    --dark-color: #2c2c2c;
    --extradark-color: #141414;
    --semidark-color: #696767;
    --semilight-color: #d6d4d4;
    --secondary-color:#f4f4f4;
}

body {
    background-color: var(--body-color);
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}
.bg-yellow{
    background-color: var(--yellow-color);
}
.bg-dark {
    background-color: var(--dark-color) !important;
}
.bg-secondary{
    background-color: var(--secondary-color) !important;
}

.text-extradark {
    color: var(--extradark-color);
}

.text-dark {
    color: var(--dark-color) !important;
}
.text-main{
    color: var(--main-color);
}
.bg-semidark{
    background-color: var(--semidark-color);
}

.text-semidark {
    color: var(--semidark-color);
}
.text-yellow{
    color: var(--yellow-color);
}
.bg-light {
    background-color: var(--light-color) !important;
}
.bg-main{
    background-color: var(--main-color);
}
.notofont{
    font-family: "Noto Serif", serif;
}
.fw-semibold {
    font-weight: 600;
}
.searchinput input{
    border-bottom: 1px solid var(--yellow-color) !important;
    border-radius: 0 !important;
    color: var(--body-color) !important;
}
.searchinput span{
    border-bottom: 1px solid var(--yellow-color) !important;
    border-radius: 0 !important;
}
.searchinput input::placeholder{
    color: var(--body-color) !important;
}
.text-xl {
    font-size: 20px;
}

.text-lg {
    font-size: 15px;
}
.text-md{
    font-size: 14px;
}
.text-normal{
    font-size: 13.5px;
}
.text-sm {
    font-size: 12.7px;
}

.text-xs {
    font-size: 10px;
}

.container-fluid {
    max-width: 1120px !important;
}
.container{
    max-width: 1000px !important;
}
.nunitofont{
    font-family: "Kanit", sans-serif;
}
.contactbtn {
    background-color: var(--dark-color);
    color: white;
    padding: 0px 15px;
    font-size: 14px;
    height: 40px;
    border-radius: 0;
    line-height: 40px;
    text-transform: capitalize;
    transition: all 0.3s;
}

.contactbtn:hover {
    background-color: var(--main-color);
    color: var(--light-color);
}

.btn-outline-dark:hover {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

.navbar-nav li {
    border: 1px solid rgba(0, 0, 0, 0.013) !important;
}
.nav-link.active{
    color: var(--main-color) !important;
    font-weight: 500 !important;
}
.navbar-nav li a {
    font-size: 14.7px;
    color: #454545 !important;
    transition: all 0.3s ease;
}

.navbar-nav li a:hover {
    letter-spacing: 0.5px !important;
    color: var(--main-color) !important;
}

.navbar-nav .simplenav{
    margin: 0px 60px;
}

.bi-search {
    font-size: 14px;
}

.bi-person {
    font-size: 16px;
}

.slide-50 {
    top: 30%;
    text-align: center;
}
.slide-10{
    top: 30%;
    left: 4%;
}

.mainheadingslide1 {
    font-family: "Playfair Display", serif;
    padding: 0 40px;
    letter-spacing: 0.9px;
}
.mainheadingslide2 {
    font-family: "Playfair Display", serif;
    /* padding: 0 40px; */
    letter-spacing: 0.9px;
}

.banner img {
    height: 450px;
}

.touchbtn {
    width: 310px;
    height: 50px;
    border: 2px solid var(--main-color);
    border-radius: 45px;
    transition: all 0.3s;
    margin-top: 40px;
    cursor: pointer;
    /* background: var(--body-color); */
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--secondary-color);
    font-size: 15px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

.touchbtn:hover {
    background: var(--main-color);
    font-size: 16px;
    color: white;
}

.searchbarbody {
    height: 60px !important;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.82);
}
.bars{
   position: relative;
   text-align: center;
   font-weight: 300;
}
.bars::before{
    position: absolute;
    width: 100%;
    left: 0;
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
    content: "";
    top: 24px;
}
.bars span{
    display: inline-block;
    background-color: #fff;
    z-index: 2;
    position: relative;
    padding: 0.25em 1em;
}
.sidebox {
    position: relative;
    width: 100%;
    height: 400px; 
}
.upperbox{
    position: relative;
    width: 100%;
    height: 195px;
}
.downbox{
    position: relative;
    width: 100%;
    height: 195px;
}
.upperbox img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sidebox .overlay ,.upperbox .overlay,.downbox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.4s;
    z-index: 1; 
}
.services{
    /* background-color:#f7f2ee; */
    transition: all 0.3s;
}

.sidebox:hover .overlay,.upperbox:hover .overlay,.downbox:hover .overlay {
    opacity: 1;
}

.sidebox img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}

.upperbox .title{
    position: absolute;
    top: 60%;
    left: 10%;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    z-index: 2;
    transform: translateY(-30px);
    transition: all 0.4s;
}
.downbox .title{
    position: absolute;
    top: 50%;
    left: 40%;
    z-index: 2;
    font-size: 22px;
    font-weight: 600;
    transform: translateY(-50%);
    transition: all 0.4s;
}
.sidebox .title{
    position: absolute;
    top: 50%;
    left: 15%;
    font-weight: 600;
    font-size: 21px;
    color: #fff;
    z-index: 2;
    transform: translateY(-50%);
    transition: all 0.4s;
}
.sidebox:hover .title,
.upperbox:hover .title,.downbox:hover .title{
    transform: translateY(-45px);
    color: white;
}

@media(max-width:1152px) {
    .navbar-nav .simplenav {
        margin: 0px 50px;
    }
}

@media(max-width:1035px) {
    .navbar-nav .simplenav {
        margin: 0 25px;
    }

    .mainheading {
        font-size: 28px;
    }
}

@media(max-width:940x) {
    .navbar-nav .simplenav {
        margin: 0 9px;
    }
}
@media(max-width:850x) {
    .navbar-nav .simplenav {
        margin: 0 5px;
    }
}

.testimonial-item {
	border-radius: 10px;
	padding-top: 30px !important;
    text-align: center;
	position: relative;
	margin:10px 15px;
    cursor: pointer;
}
.testimonial-item .testimonial-text::before {
    position: absolute;
    content: "";
    bottom: -59px;
    left: 50%;
    transform: translateX(-50%);
    border: 30px solid;
    /* border-color:#dfe4fd transparent transparent transparent; */
    border-color:var(--secondary-color) transparent transparent transparent;
}
.testimonial-item .testimonial-text .btn-square {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.testimonial-item .testimonial-text .btn-square i{
    font-size: 18px;
}
.testimonial-item .testimonial-text{
    height: 250px;
    
}
.testimonial-item .testimonial-text:after {
        position: absolute;
        content: "";
        bottom: -58.5px;
        left: 50%;
        transform: translateX(-50%);
        /* border: 30px solid; */
        /* border-color: #FFFFFF transparent transparent transparent;     */
}

.testimonial h3 {
	margin-bottom: 10px;
}



.testimonal-author {
	font-size: 15px;
	position: absolute;
	bottom: -40px;
	right:40px;
}

@media all AND (max-width: 700px) {
	
	.testimonials {
    flex-direction: column;
		align-items: center;
	}

	.testimonial {
		width: 90%;
		margin-bottom: 60px;
	}

}
.quicklinks:hover{
   color:  var(--main-color);
}
.quicklinks a{
    transition: letter-spacing 0.2s ease-in;
}
.btn-square{
    width: 38px;
    height: 38px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: normal;
}
.quicklinks a:hover{
    letter-spacing: 1px;
   color:  var(--main-color) !important;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0);
}
.servicebox{
    position: relative;
    z-index: 99;
    transition: all 0.3s;
    backdrop-filter: blur(15px);
}
.servicebox::before{
    content: "";
    position: absolute;
    inset: 0;
    filter: blur(0px);
    width: 100%;
    z-index: -1;
    height: 100%;
    background-color: var(--secondary-color);
    border-radius: 1.8rem;
}
.serviceicon {
    position: absolute;
    top: -25px;
    left: -15px;
    width: 75px;
    height: 75px;
    background-color: var(--body-color);
    border-radius: 50%;
    display: grid;
    place-items: center;
    border-radius: -50%;
}
.dropdown-item{
    margin: 0 !important;
}
.categorydropdown li a:hover{
    letter-spacing: 0 !important;
    color: white !important;
    background-color: var(--main-color) !important;
}
.servicebox:hover{
    box-shadow:0 .5rem 0.6rem rgba(116, 115, 115, 0.3) !important;
    cursor: pointer;
}
.categorydropdown {
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s ease all;
}

.categorydropdown.show {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: .5s ease all;
    transform: translateY(0);
}

.dropdown:hover .categorydropdown {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.workform input,.workform select,.workform textarea{
    border: 2px solid var(--semilight-color) !important;
    color: var(--semidark-color) !important;
    font-size: 15px !important;
    transition: all 0.3s;
}
.workform input:focus,.workform select:focus,.workform textarea:focus{
    box-shadow: none !important;
    border: 2px solid var(--main-color) !important;
}
.line1{
    height: 2px;
    width: 18px;
    background-color: var(--dark-color);
}
.line2{
    height: 2px;
    width: 18px;
    margin: 4px 0;
    background-color: var(--dark-color);
}
.line3{
    height: 2px;
    width: 18px;
    background-color: var(--dark-color);
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    padding: 2px;
    margin-right: 5px;
    margin-left: 5px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
   
    border-radius: 50% !important;
}
.sidebar{
    background-color: rgba(0, 0, 0, 0.89);
}
.wpchat{
    position: fixed;
    right: 30px;
    bottom: 30px;
}
.broucher img{
    height: 360px;
}
.link{
    background-color: rgba(0,0,0,0.77);
    position: absolute;
    top: -20px;
    left: -30px;
    height: 75px;
    width: 75px;
    line-height: 65px;
    text-align: center;
    border-radius: 50%;
}
.link img{
    height: 40px;
    width: 40px;
}
.strcards{
    border: 2px solid #dc3545;
}
.strcards .uppertext{
    left: 50%;
   transform: translateX(-50%);
   top: -13px;
   background-color: white;
   padding: 0 8px;
   font-size: 14px;
   text-align: center;
}
.strcards .downtext{
    left: 50%;
   transform: translateX(-50%);
   bottom: -10px;
   background-color: white;
   padding: 0 8px;
   font-size: 14px;
   text-align: center;
}
@media(max-width:480px) {
    .strcards .uppertext{
       top: -30px;
    }
}
@media(max-width:575px) {
    .strcards .downtext{
       bottom: -30px;
    }
    .testimonial-item .testimonial-text{
        height: 300px;
    }
}

